RewriteEngine On

# Ensure requests are directed to the public/ folder
RewriteRule ^$ public/ [L]  # Route the base URI (localhost/php-fullstack-website/)
RewriteRule ^(.*)$ public/index.php [L]  # Route everything to public/index.php

# Disable directory listing
Options -Indexes

# Prevent access to sensitive files
<FilesMatch "\.(env|git|ini)$">
  Order Deny,Allow
  Deny from all
</FilesMatch>